<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.mobly.snippet.example4">

    <application android:allowBackup="false">
        <meta-data
            android:name="mobly-snippets"
            android:value="com.google.android.mobly.snippet.example4.UiAutomatorSnippet" />
    </application>

    <!-- This snippet does NOT target ex2 (which is the main app the code
         automates). The instrumentation target is itself which creates a
         standalone snippet. -->
    <instrumentation
        android:name="com.google.android.mobly.snippet.SnippetRunner"
        android:targetPackage="com.google.android.mobly.snippet.example4" />

</manifest>
