<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.mobly.snippet.example1">

    <application android:allowBackup="false">
        <!-- Required: list of all classes with @Rpc methods. -->
        <meta-data
            android:name="mobly-snippets"
            android:value="com.google.android.mobly.snippet.example1.ExampleSnippet,
                           com.google.android.mobly.snippet.example1.ExampleSnippet2" />

        <!-- Optional: tag which will be used for logs through the snippet lib's logger.
             If specified, log lines will look like this:
             MoblySnippetLibExample1.JsonRpcServer:84: Got shutdown signal

             If not specified, log lines will look like this
             com.google.android.mobly.snippet.example1.JsonRpcServer:84: Got shutdown signal -->
        <meta-data
          android:name="mobly-log-tag"
          android:value="MoblySnippetLibExample1" />
    </application>

    <instrumentation
        android:name="com.google.android.mobly.snippet.SnippetRunner"
        android:targetPackage="com.google.android.mobly.snippet.example1" />
</manifest>
